.wrap{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
}
.content {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-top: none;
}
.footer {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  bottom: -80px;
}


