
.wrap {
  width: 100%;
  background: url('147431440815046245.png');
  background-size: cover;
  height: 1000px;
  position: relative;
}
.centre-block {
  width: 800px;
  height: 400px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}